@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

.default{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageUnderText{
  display: flex;
  flex-direction: column-reverse;
}

.textWithImageRight{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex: 1 1 0px;
}

.textWithImageLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image{
  padding: 5px;
  object-fit: contain;
}

p{
  margin: 5px;
}

h1{
  font-size: larger;
  font-weight: bold;
}

h2{
  font-size: large;
  font-weight: bold;
  margin: 5px;
  margin-top: 10px;
}

.styled-text{
  display: flex;
  align-self: baseline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
