@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.default{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageUnderText{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.textWithImageRight{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-items: center;
}

.textWithImageLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image{
  display: flex;
}

p{
  margin: 5px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
